body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0b1416;
    color:white
}

.container {
    background-color: #141f21;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
